<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Midterm Project</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="../../index.js" type="text/javascript"></script>
</head>

<div class="nav">
  <div>
    <div ><a id="title" href="/">TV Show Guide</a></div>
    <a href="/create">Add a New Show</a>
    <a href="/byrating">By Rating</a>   <!-- sort by rating --> 
    <a href="/bygenre">By Genre</a>     <!-- allows you to filter shows by genre -->
    <a href="/alphabetical">Alphabetical Order</a>  <!-- sort alphabetically -->
    <a href="/mostreviews">Most Reviews</a> 
    <a href="/randomrec">Random Rec</a>   <!-- displays a random tv show -->
  </div>
</div>

<body>
  <div class="container" id="mainBody">
    {{{body}}}
  </div>
</body> 

</html>
