<h1 id="showtitle">About</h1>
<article id="about"> 
<b><u>Group members</u>:</b> Iris Hu and Shannen Lam 
<br /> <br /> 
<b><u>Description</u>:</b> Our application is a crowd-sourced guide to TV shows. In each show, there will be information about the TV show, as well as reviews from professional reviewers (also provided by users) and comments from users online. <br />
Click on a TV show to view the professional reviews for that show, as well as users' comments about the show!
</article>