<h1 id="title">About</h1>
<body> 
<b>Group members:</b> Iris Hu and Shannen Lam 
<br />
<b>Description:</b> Our application is a crowd-sourced guide to TV shows. In each show, there will be information about the TV show, as well as reviews from professional reviewers (also provided by users) and comments from users online. 
</body>