<h1 id="title">Create New Song Recommendation</h1>
<article>
    <form method="POST" action="/create">
        <div class="input-field">
            <label><b>Song Title: </b></label>
            <input class="input-text" type="text" name="title" size="50" placeholder="TV show title...">
        </div>
        <div class="input-field">
            <label><b>Network: </b></label>
            <input class="input-text" type="text" name="network" size="50" placeholder="Network name...">
        </div>
        <div class="input-field">
            <label><b>Actor(s): </b></label>
            <input class="input-text" type="text" name="actors" size="50" placeholder="Separate with commas...">
        </div>
        <div class="input-field">
            <label><b>Genre(s): </b></label>
            <input class="input-text" type="text" name="genres" size="50" placeholder="Separate with commas...">
        </div>
        <div class="input-field">
            <label><b>Language: </b></label>
            <input class="input-text" type="text" name="language" size="50" placeholder="Primary language..."></textarea>
        </div>
        <div class="input-field">
            <label><b>Rate (out of 10):</b></label>
            <input type="number" name="rating" min="0.0" max="10.0" value="5.0">
        </div>
        
        <div id="submit"><button type="submit" id="submit"><b>Create Song Rec</b></button></div>
    </form>

    {{!-- <script>
        document.getElementById("rate").oninput = function() {
            document.getElementById("ratedisplay").innerHTML = this.value;
        };
    </script> --}}
</article>
