/* Please add your own! */

body {
    background-color: #191414;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
}

.nav { 
    background-color: #282828;
    background-size: cover;
    
    display: block;
    color: white;
    /* text-align: center; */
    /* white-space: nowrap;*/

    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;

}

.nav a {
    padding-right: 25px; 
    padding-bottom: 10px;
}

a { 
    color: white;
    text-decoration: none;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: 500;*/
}

#search { 
    border-radius: 20px;
    
    padding-left: 10px;
    margin-left: 10px;
    
    width: 200px;
    height: 17px;
}

a#title {
    color: #1ED761;
    
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;

    letter-spacing: -0.05em;
    word-spacing: -0.075em;

    padding-bottom: 3px;
}

h1#title {
    color: #1ED761;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.input-field { 
    padding-bottom: 15px;
    padding-left: 15px;

    width: 100px;
}

.input-text { 
    border-radius: 20px;
    
    padding-left: 10px;
    
    width: 400px;
    height: 25px;
}

div#submit { 
    padding-left: 15px;
    padding-top: 5px;
}

button#submit { 
    border-radius: 10px;
    width: 150px;
    height: 30px;

    background: white;

    border: 2px solid #1DB954;
}

div.content { 
    color: rgb(212, 212, 212);
}

button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;

    /*width: 70px;*/
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
}

div#genreoptions{
    display: flex;
  justify-content: center;
}

.entry {
    border: 5px rgb(142, 142, 255);
    border-style: solid;
    padding: 0 15px 15px;
    border-radius: 15px;
}

.showlist {
    text-align: center;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.showlistitem {
    display: inline-block;
    text-align: left;
    margin: 20px;
}

.showlink {
    display: block;
    height: 100%;
    width: 100%;
}

#entrytitle {
    margin-block-end: 5px;
}