/* Please add your own! */

body {
    background-color: #191414;
    color: #FFEFE0;

    font-family: Arial, Helvetica, sans-serif;
}

.nav { 
    background-color: #282828;
    background-size: cover;
    
    display: block;
    color: #FFEFE0;
    width: 100%;
    /* text-align: center; */
    /* white-space: nowrap;*/

    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;

}

.nav a {
    padding-right: 25px; 
    padding-bottom: 10px;
}

a { 
    color: #FFECC8;
    text-decoration: none;

    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-weight: 500;*/
}

a.add { 
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    padding: 7px;
    font-size: 15px;

    margin-top: -5px;
    margin-bottom: 10px;
}

#search { 
    border-radius: 20px;
    
    padding-left: 10px;
    margin-left: 10px;
    
    width: 200px;
    height: 17px;
}

a#title {
    color: #FFB224;
    
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;

    letter-spacing: -0.05em;
    word-spacing: -0.075em;

    padding-bottom: 3px;
}

h1#showtitle {
    color: #FFBC3F;
    background: rgb(73, 73, 73);

    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.input-field { 
    padding-bottom: 15px;
    padding-left: 15px;

    width: 100px;
}

.input-text { 
    border-radius: 20px;
    
    padding-left: 10px;
    
    width: 400px;
    height: 25px;
}

div#submit { 
    padding-left: 15px;
    padding-top: 5px;
}

button#submit { 
    border-radius: 10px;
    width: 150px;
    height: 40px;

    background: #A5DAD2;
    color: rgb(252, 126, 88);

    border: 4px solid rgb(64, 185, 196);
}

div.content { 
    color: rgb(255, 247, 242);
}

button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;

    /*width: 70px;*/
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
}

div#genreoptions{
    display: flex;
  justify-content: center;
}

.entry {
    border: 8px rgb(64, 185, 196);
    border-style: solid;

    max-width: 35vw;
    min-width: 35vw;

    min-height: 16vw;
    max-height: 16vw;

    font-size: 1.5vw;

    background: #A5DAD2;
    
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 15px;
}

.showlist {
    text-align: center;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.showlistitem {
    display: inline-block;
    text-align: left;
    margin: 20px;
}

.showlink {
    display: block;
    height: 100%;
    width: 100%;
}

#entrytitle {
    margin-block-end: 5px;
}

article.showdisplay{ 
    padding-left: 20px;
}